.link {
    color: #b0470b;
    font-size: 24px;
    font-weight: 700;
    margin-right: 20px;
    margin-bottom: 30px;
    text-decoration: none;
}

.movieCardWrap {
    margin-top: 30px;
}

.movieCard {
    display: flex;
    gap: 30px;
}

.movieTitle {
    font-size: 28px;
    font-weight: 600;
}

.releaseDate {
    font-weight: 700;
    color: hsl(17, 84%, 27%);
}

.description {
    font-size: 22px;
}

.descriptionSpan {
    font-weight: 500;
    font-size: 22px;
    color: hsl(17, 84%, 27%);
}

.ganresWrap {
    display: flex;
    gap: 15px;
}

.ganre {
    margin-right: 10px;
    color: hsl(17, 84%, 27%);
}