.link {
    color: #b0470b;
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
    margin-bottom: 30px;
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: hsl(19, 91%, 26%);
}

.linkSvg {
    font-size: 28px;
    margin-right: 5px;
    vertical-align: middle;
}

.movieCardWrap {
    margin-top: 30px;
}

.movieCard {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.movieTitle {
    font-size: 28px;
    font-weight: 600;
    color: hsl(17, 84%, 27%);
}

.releaseDate {
    font-weight: 700;
    color: hsl(20, 15%, 92%);
}

.description {
    font-size: 22px;
    font-weight: 500;
    color: hsl(17, 84%, 27%);
}

.descriptionSpan {
    font-weight: 500;
    font-size: 24px;
    margin-right: 10px;
    color: hsl(15, 29%, 95%);
}

.ganresWrap {
    display: flex;
    gap: 15px;
}

.overview {
    width: 1000px;
}

.pageLink {
    color: #b0470b;
    font-size: 32px;
    font-weight: 700;
    margin-right: 20px;
    margin-bottom: 30px;
    text-decoration: none;
}

.pageLink:hover,
.pageLink:focus {
    color: hsl(19, 91%, 26%);
}