.form {
    display: flex;
    width: 400px;
    padding: 10px;
    border-radius: 8px;
    background-color: hsl(0, 38%, 97%);
    border: 1px solid transparent;
}

.form:hover,
.form:focus {
    border-color: rgb(190, 83, 21);
}

.formBtn {
    color: #403c3cde;
    background-color: transparent;
    border: none;
    font-size: 24px;
}

.formSvg {
    font-size: 32px;
    vertical-align: middle;
}

.formSvg:hover,
.formSvg:focus {
    color: rgb(156, 60, 5);
}

.formInput {
    font-size: 18px;
    width: 100%;
    outline: none;
    border: none;
    color: #403c3cde;
    background-color: transparent;
}